* text=auto

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.gif binary
*.ico binary
*.svg text

*.glb binary
*.gltf text

*.mp4 binary

*.woff binary
*.woff2 binary
*.ttf binary
*.otf binary

*.pdf binary